
npm( $mod )
  '../../node_modules/' + $mod

$han-font-path = '//cdnjs.cloudflare.com/ajax/libs/Han/3.2.3/font/'
$han-biaodian-hant = Pro
$han-hanging-hant  = true

@import npm( 'han-css' )
@import 'dir'

$vern-dft ?= true

$vern-selector ?= {
  container: $vern-dft ? '#wrap' : '',
  selector:  $vern-dft ? article : ''
}

vern( $selector=article )
  &
    @extend $vern-container
  {$selector}
    @extend $vern

$vern-container
  // box-model
  overflow-x auto
  overflow-y hidden 
  // typography
  direction rtl
$vern
  @extend $vern-dir
  // typography
  direction ltr
  -ms-writing-mode     tb-rl 
  -webkit-writing-mode vertical-rl
  writing-mode         tb-rl
  -ms-text-combine-horizontal     digits 2
  -webkit-text-combine-horizontal digits 2
  text-combine-horizontal         digits 2

  h-char[unicode='ff1a']
    direction rtl
    -ms-writing-mode     rl-tb
    -webkit-writing-mode horizontal-tb
    writing-mode         rl-tb
    margin -.25em 0

{$vern-selector['container']}
  vern( $vern-selector['selector'] )

